* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: large;
}

#bg {
  background-image: url("./Components/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#card {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/181/339/small/pretty-watercolor-background-in-turquoise-color-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
  font-weight: bold;
  overflow-y: auto;
}
#card:hover {
  transform: scale(1.02);
  cursor: text;
  background-blend-mode: luminosity;
}
.smoothsize {
  transition-duration: 10s;
}
#navBar {
  position: sticky;
  top: 0px;
  width: 100%;
  opacity: 1;
  z-index: 100;
  }

::-webkit-scrollbar {
  width: 0;
}
